# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TheBees - Version 1.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\creative\gamedev\unity\2021\TheBees\TheBees - Version 1\.idea\.idea.TheBees - Version 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
